<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>전문가탈퇴</title>
  <link rel="stylesheet" href="../../static/css/pro/pro_mypage_withdrawmodal.css">
</head>
<body>
  <div class="container">
    <div class="box-container">

      <div class="box-header">전문가탈퇴</div>
      <div class="box-content">
        <div class="description">
          <h3>정말로 전문가 탈퇴 하시겠습니까?</h3>
          <br>
          탈퇴시 입력하신 전문가 정보가 삭제되며
          <br>
          전문가 활동을 다시 원하실 경우
          <br>
          전문가 인증과정이 다시 이루어집니다.

        </div>
        <form action="#">
          <div class="title">탈퇴하시려면 전문가 활동 이름을 작성해주세요</div>
          <input class="input-box" name="text" placeholder="전문가 활동 이름 작성" type="text">

          <!--전문가 정보 수정으로  -->
          <a href="#"  class="btn">탈퇴하지 않겠습니다</a>
          <!-- 탈퇴완료창->로그아웃&메인페이지로이동 -->
          <a href="#" class="btn">탈퇴하기</a>
        </form>
      </div> 
    </div>
  </div>
  
</body>
</html>