<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProHeader</title>
    <link rel="stylesheet" href="../../static/css/admin/NotiHeader.css">
</head>
<body>
<div class="header">
    <div class="in-header">
        <div class="logo">
            <a href="#">
                <img src="https://help.soomgo.com/hc/theming_assets/01HZM2PTPGGCP4P9CXADCNWPWC" alt="로고">
            </a>
            <div class="navigation">
                <a href="#">
                    견적 요청
                </a>
                <a href="#">
                    고수 찾기
                </a>
                <a href="#">
                    커뮤니티
                </a>

            </div>
        </div>
        <div class="nav-wrapper">
            <div class="right-box">
                <a href="#">
                    받은요청
                </a>
                <a href="#">
                    유저전환
                </a>

            </div>
            <div class="profile-box">
                <!--            프로필 누르면 바로 마이페이지 가게     -->
                <a href="#" class="user-info">
                    <span class="user-name">고길동</span>
                    <img src="https://static.cdn.soomgo.com/upload/profile-default/soomgo_65.jpg?h=320&w=320&webp=1" alt="Profile Image" class="profile-pic"/>
                </a>
                <a href="#" class="logout">
                    로그아웃
                </a>
            </div>
        </div>
    </div>
<!--    경계선     -->
    <div class="container-divider"></div>
    <div class="container-blank"></div>
</div>
</body>
</html>