<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지상세게시판</title>
    <link rel="stylesheet" href="../../static/css/admin/NotiAndFaqDetail.css">
</head>
<body>
<div class="container">
    <div class="sub-nav">
        <ol>
            <li title="공지사항">
                <a href="#">공지사항</a>
            </li>
        </ol>
        <form class="search" method="get">
            <input type="search" name="query" id="query" placeholder="검색" aria-label="검색">
        </form>
    </div>
    <div class="article">
<!--        기사 제목   -->
        <div class="article-title">
            <h1>
                대충 기사 제목이라는 뜻
            </h1>
        </div>
<!--        기사 내용   -->
        <div class="article-content">
            <h5>
                기사 내용입니다.
                대충 기사 내용이라는 뜻이고. 블라블라블라블라. 기사 내용이라는 뜻입니다. 그닥 의미는 없는 글입니다.
                예시를 보여드리기 위한 글이므로 아무 생각없이 읽어주시면 되겠습니다.
                애국가 저도 참 좋아합니다. 그렇다고 쓰자니 좀 뭐한 것 같습니다.
                긴 글 읽어주셔서 감사합니다.
            </h5>
        </div>

<!--        여기 작업 중이었음. 현재 작업 중     -->
        <div class="article-footer">
            <ul class="article-list">
                <li class="article-another">
                    <div class="article-another-content">
                        <div class="article-another-title">
                            <a href="#">
                                이전 공지
                            </a>
                        </div>
                        <div class="article-another-date">
                                공지 날짜
                        </div>
                    </div>
                </li>
                <li class="article-another">
                    <div class="article-another-content">
                        <div class="article-another-title">
                            <a href="#">
                                다음 공지
                            </a>
                        </div>
                        <div class="article-another-date">
                            공지 날짜
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



</body>
</html>