<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/static/css/common(2)/header.css">
</head>
<body>
    <header id="header">
        <div class="global-nav-bar">
            <div class="desktop-header">
                <div class="header-left">
                    <img src="https://assets.cdn.soomgo.com/icons/logo/navigation_logo.svg" alt="로고" id="logo">
                    <div class="nav-list">
                        <span class="nav-item">견적요청</span>
                        <span class="nav-item left-items">고수찾기</span>
                        <span class="nav-item left-items">마켓</span>
                        <span class="nav-item left-items">커뮤니티</span>
                    </div>
                </div>
                <div class="header-center">
                    <div class="search-bar-container">
                        <form action="#" class="search-bar">
                            <div class="input-group">
                                <div class="input-logo">
                                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQgNCkiIHN0cm9rZT0iI0I1QjVCNSIgc3Ryb2tlLXdpZHRoPSIxLjYiPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGN4PSI2LjUiIGN5PSI2LjUiIHI9IjYuNSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Im0xMS41IDExLjUgNSA1Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="검색 아이콘" class="search-logo">
                                </div>
                                <input type="text" placeholder="어떤 서비스가 필요하세요?" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header-right">
                    <div class="nav-list">
                        <span class="nav-item">
                            <a href="#">로그인</a>
                        </span>
                        <span class="nav-item right-item">
                            <a href="#">회원가입</a>
                        </span>
                    </div>
                    <button class="header-button">고수가입</button>
                </div>
            </div>
        </div>
    </header>
</body>
</html>