/*  ------------------------------------------------------------------------------------------------  */

* {
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    color: #363a3c;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a{
    color: #ced0db;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: #ced0db;
    display: inline-block;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

input{
    color: inherit;
    font: inherit;
    margin: 0;
}

input{
    line-height: normal;
}

input{
    color: #000;
    font-size: 14px;
}

input{
    font-weight: 300;
    maxwidth: 100px;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

h1{
    font-size:32px;
    font-weight: 400;
    margin-top: 0;
}

h5{
    font-size:16px;
    font-weight: 200;
    margin-top: 0;

}

    /*  ------------------------------------윗쪽작은부분----------------------------------------------------  */



.container{
    max-width: 1160px;
    margin: 0 auto;
    /*padding: 0 5%;*/
    /*min width 1160px*/
    padding: 0;
    width: 90%;
}

.sub-nav{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
    /*min width 768px*/
    align-items: baseline;
    flex-direction: row;
    margin-right: 150px;
}

.sub-nav li{
    color: #363a3c;
    display: inline;
    font-weight: 500;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*margin: 0 0 15px 0;*/
    padding: 0;
    /*min width 768px*/
    margin: 0;
}

.search{
    position: relative;
}

.search input{
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    color: #999;
    height: 40px;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;
}

.search::before{
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 1em;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #ddd;
    content: "\1F50D";
    font-size: 18px;
    position: absolute;
    left: 15px;
}

/*  --------------------------------------중간부----------------------------------------------------------  */

.article{
    flex-direction: row;
    display: contents;
    flex: 1 0 66%;
    max-width: 66%;
    min-width: 640px;
    padding: 0 30px;
}

.article-title{
    justify-content: space-between;
    margin-bottom: 40px;
    display: flex;

}

.article-content{
    ;
}

/*  ---------------------------------------하단부---------------------------------------------------------  */

.article-footer{
    display: block;
    margin: 0 25px 85px;
    border-top: 1px solid #e6e6ea;
    border-bottom: 1px solid #e6e6ea;
}

.article-list{
    padding: 0;
    list-style: none;
}

.article-another{
    border-bottom: 0;
    position: relative;
}

.article-another-content{
    display: flex;
    padding: 8px 30px 8px 54px;
    background-color: transparent;
}

/* 여기 작업 중이 었음 현재 작업 중*/
.article-another-content::before{
    transform: rotate(180deg);
    background-image: linear-gradient(transparent, transparent), url(https://ssl.pstatic.net/static/pwe/naver_mail/sp_naver_mail_7e40fdaa.svg);
    background-position: -241px -68px;
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: top;
    content: '';
}

.article-another-title{
    flex: 1 1 0%;
}
.article-another-title a{
    color: black;
}

.article-another-date{
    display: block;
}
