<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글작성</title>
    <link rel="stylesheet" href="../../static/css/common(1)/WriteForm.css">
</head>
<body>
<div class="main">
    <div class="main-container">
        <div class="write-box">
            <div class="title-info">
                제목 :
            </div>
            <label class="title-input">
                <input type="text">
            </label>
        </div>
        <div class="write-box">
            <label class="service-area">
                <select class="service-part">
                    <option>
                        서비스 선택
                    </option>
                    <option>
                        이사/청소
                    </option>
                    <option>
                        설치/수리
                    </option>
                    <option>
                        인테리어
                    </option>
                    <option>
                        취미/자기개발
                    </option>
                    <option>
                        기타
                    </option>
                </select>
            </label>
            <label class="service-area">
                <select class="service-part">
                    <option>
                        지역
                    </option>
                    <option>
                        서울
                    </option>
                    <option>
                        대전
                    </option>
                    <option>
                        대구
                    </option>
                    <option>
                        부산
                    </option>
                    <option>
                        인천
                    </option>
                    <option>
                        기타
                    </option>
                </select>
            </label>
        </div>
        <div class="content">
            <textarea class="content-text"></textarea>
        </div>
        <div class="content-footer">
            <button>
                이미지 첨부
            </button>
            <button>
                작성 완료
            </button>
        </div>
    </div>
</div>


</body>
</html>