<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table class="board-table">
    <thead>
    <tr>
        <th class="number">번호</th>
        <th class="title">쿠폰내용</th>
        <th class="writer">유효기간</th>
    </tr>
    </thead>
    <tbody id="boardList">
    <tr th:each="board : ${boards}" th:object="${board}">
        <td th:text="*{boardId}">1</td>
        <td><a th:href="@{/board/detail/{boardid}(boardid=*{boardId})}" th:text="*{boardTitle} + (*{fileCount} >0? '[첨부파일 :' + *{fileCount} +']':'')" ></a>쿠폰내용</td>
        <td th:text="*{name}" >유효기간</td>
        <div th:if="*{boardRegisterDate == boardUpdateDate}">
            <td th:text="*{#temporals.format(boardRegisterDate, 'yy년 M월 d일 HH시 mm분')}"></td>
        </div>
        <div th:unless="*{boardRegisterDate == boardUpdateDate}">
            <td th:text="*{#temporals.format(boardUpdateDate, 'yy년 M월 d일 HH시 mm분')} + ' (수정)'"></td>
        </div>

    </tr>
    </tbody>
</table>
  
</body>
</html>