<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쿠폰함</title>
  <link rel="stylesheet" href="../../static/css/user/coupon.css">
</head>
<body>
  <div class="container">
    <div class="padding3">
      <h1>쿠폰함</h1>
    </div>
    <div class="center padding3">
      <i>
        <img src="	https://assets.cdn.soomgo.com/icons/icon-coupon-empty.svg">
      </i>
      <h3>사용 가능한 쿠폰이 없습니다</h3>
    </div>

  </div>
  
</body>
</html>