<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역 선택</title>
    <link rel="stylesheet" href="/static/css/user/edit.css">
    <link rel="stylesheet" href="/static/css/main/common.css">
</head>
<body>
  <div>

    <label>관심 카테고리</label>
    <select name="category" aria-required="false"><option value="">카테고리</option>
      <option value="1">이사/청소</option>
      <option value="2">설치/수리</option>
      <option value="3">인테리어</option>
      <option value="4">외주</option>
      <option value="5">이벤트/뷰티</option>
      <option value="6">취업/직무</option>
      <option value="7">과외</option>
      <option value="8">취미/자기개발</option>
      <option value="9">자동차</option>
      <option value="10">법률/금융</option>
      <option value="11">기타</option>
    </select>
  </div>
    
  <div class="location">
    <label for="main-location">대분류</label>
    <select id="main-location">
        <option value="all">전체</option>
        <option value="seoul">서울시</option>
        <option value="gyeonggi">경기도</option>
    </select>

    <label for="sub-location">중분류</label>
    <select id="sub-location">
        <option value="gangnam">강남구</option>
        <option value="gangdong">강동구</option>
        <option value="gangbuk">강북구</option>
        <option value="seongnam">성남시</option>
        <option value="bundang">성남시 분당구</option>
    </select>
</div>
    <div class="option-group-selectbox">
        <ul>
            <li data-testid="area-level1" class="all selected level1"><span>전국</span></li>
            <li data-testid="area-level1" class="expanded parent level1"><span>서울</span></li>
            <li data-testid="area-level2" class="level2"><span>서울 전체</span></li>
            <li data-testid="area-level2" class="level2"><span>강남구</span></li>
            <li data-testid="area-level2" class="level2"><span>강동구</span></li>
            <li data-testid="area-level2" class="level2"><span>강북구</span></li>
            <li data-testid="area-level2" class="level2"><span>강서구</span></li>
            <li data-testid="area-level2" class="level2"><span>관악구</span></li>
            <li data-testid="area-level2" class="level2"><span>광진구</span></li>
            <li data-testid="area-level2" class="level2"><span>구로구</span></li>
            <li data-testid="area-level2" class="level2"><span>금천구</span></li>
            <li data-testid="area-level2" class="level2"><span>노원구</span></li>
            <li data-testid="area-level2" class="level2"><span>도봉구</span></li>
            <li data-testid="area-level2" class="level2"><span>동대문구</span></li>
            <li data-testid="area-level2" class="level2"><span>동작구</span></li>
            <li data-testid="area-level2" class="level2"><span>마포구</span></li>
            <li data-testid="area-level2" class="level2"><span>서대문구</span></li>
            <li data-testid="area-level2" class="level2"><span>서초구</span></li>
            <li data-testid="area-level2" class="level2"><span>성동구</span></li>
            <li data-testid="area-level2" class="level2"><span>성북구</span></li>
            <li data-testid="area-level2" class="level2"><span>송파구</span></li>
            <li data-testid="area-level2" class="level2"><span>양천구</span></li>
            <li data-testid="area-level2" class="level2"><span>영등포구</span></li>
            <li data-testid="area-level2" class="level2"><span>용산구</span></li>
            <li data-testid="area-level2" class="level2"><span>은평구</span></li>
            <li data-testid="area-level2" class="level2"><span>종로구</span></li>
            <li data-testid="area-level2" class="level2"><span>중구</span></li>
            <li data-testid="area-level2" class="level2"><span>중랑구</span></li>
            <li data-testid="area-level1" class="parent level1"><span>세종</span></li>
            <li data-testid="area-level1" class="parent level1"><span>강원</span></li>
            <li data-testid="area-level1" class="parent level1"><span>인천</span></li>
            <li data-testid="area-level1" class="parent level1"><span>경기</span></li>
            <li data-testid="area-level1" class="parent level1"><span>충북</span></li>
            <li data-testid="area-level1" class="parent level1"><span>충남</span></li>
            <li data-testid="area-level1" class="parent level1"><span>경북</span></li>
            <li data-testid="area-level1" class="parent level1"><span>대전</span></li>
            <li data-testid="area-level1" class="parent level1"><span>대구</span></li>
            <li data-testid="area-level1" class="parent level1"><span>전북</span></li>
            <li data-testid="area-level1" class="parent level1"><span>경남</span></li>
            <li data-testid="area-level1" class="parent level1"><span>울산</span></li>
            <li data-testid="area-level1" class="parent level1"><span>광주</span></li>
            <li data-testid="area-level1" class="parent level1"><span>부산</span></li>
            <li data-testid="area-level1" class="parent level1"><span>전남</span></li>
            <li data-testid="area-level1" class="parent level1"><span>제주</span></li>
        </ul>
    </div>
</body>
</html>